body{
    margin: 0;
}

.home{
    width:100% ;
    height: 500px;
    background-image: url(images/header_backgr.png);
    margin: 0px;
}

.header{
    width: 100%;
    height: 75px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.golden{
    width: 200px;
    color: yellow;
    padding: 40px;
}

.list1{
    display: flex;
    color: white;
    list-style: none;
    
}

.list1 li{
    padding: 10px;
}



.main{
    margin:0;
    margin-top: 50px;
    color: white;
}

.main1{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;   
}


.main2{
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}



.rebut{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.button_reb{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    background-color: rgb(245, 220, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}


.serv{
    margin-top: 80px;
    font-family: Arial, Helvetica, sans-serif;


    
}



.serv1{
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-bottom: 0;

}

.serv2{
    font-size: 15px;
    text-align: center;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
}




.serv_tip{
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.serv_tip li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    
}


.serv_tip li{
    text-align: center;
}


.img1{
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 100px;
    background-image: url(images/korzina.png);
    border-radius: 50%;
}


.img2{
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 100px;
    background-image: url(images/laptop.png);
    border-radius: 50%;
}

.img3{
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 100px;
    background-image: url(images/lock.png);
    border-radius: 50%;
}

.serv_tip li{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.portf{
    width: 100%;
    height: 900px;
    background-color: rgba(216, 213, 213, 0.719);
    margin: 0;
}

.rip{
    display: flex;
    flex-direction: column;
    margin-top: 0;

}

.txt4{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-bottom: 0;
        font-weight: 700;
}

.txt5{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 0;
}

.list_img{
    display: flex;
    justify-content: center;

}

.portf_list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
}




.tip_img1{
    width: 200px;
    height: 200px;
    background-image: url(images/portf1.png);
    display: flex;
    justify-content: space-between;
    margin: 50px;
    margin-bottom: 0;
}



.tip_img2{
    width: 200px;
    height: 200px;
    background-image: url(images/portf2.png);
    display: flex;
    justify-content: space-between;
    margin: 50px;
    margin-bottom: 0;
}





.tip_img3{
    width: 200px;
    height: 200px;
    background-image: url(images/portf3.png);
    display: flex;
    justify-content: space-between;
    margin: 50px;
    margin-bottom: 0;
}




.tip_img4{
    width: 200px;
    height: 200px;
    background-image: url(images/portf4.png);
    display: flex;
    justify-content: space-between;
    margin: 50px;
    margin-bottom: 0;
}



.tip_img5{
    width: 200px;
    height: 200px;
    background-image: url(images/portf5.png);
    display: flex;
    justify-content: space-between;
    margin: 50px;
    margin-bottom: 0;
}




.tip_img6{
    width: 200px;
    height: 200px;
    background-image: url(images/portf6.png);
    display: flex;
    justify-content: space-between;
    margin: 50px;
    margin-bottom: 0;
}


.tip_txt{
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
    justify-content: center;
}


.about{
    width: 85%;
    margin: auto;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.about_us{
    height: 20%;
    width: 30%;
    margin: auto;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.m_title{
    font-size: 4em;
    font-weight: 900;
    margin: auto;
    text-align: center;
}

.und_title{
    font-size: large;
    font-weight: 900;
    color: gray;
    margin-bottom: 5rem;
}

.main_part{
    width: 80%;
    list-style: none;
    margin: auto;
}

.background_line{
    background-color: lightgray;
    position: absolute;
    left: 49.9%;
    right: 49.89%;
    top: 20%;
    bottom: 10%;

}

.txt_left{
    margin-right: 15px;
}

.txt_right{
    margin-left: 15px;
}

.main_list{
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-bottom: 5rem;
}

.empty{
    height: 12rem;
    width: 20rem;
    display: flex;
}

.date{
    font-size: large;
    font-weight: 900;
    text-transform: uppercase;
    width: 20rem;
}

.title_a{
    font-size: large;
    font-weight: 900;
    text-transform: capitalize;
    width: 20rem;
}

.elem_txt{
    font-size: large;
    font-weight: 900;
    color: gray;
    width: 20rem;
}

.elem_txt_left{
    text-align: right;
}

.elem_txt_right{
    text-align: left;
}

.about_img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


.about_id_1{
    background-image: url(./Images/about1.png);
    background-size: 105%;
    border: 3px solid lightgray;
    background-repeat: no-repeat;
    background-position: center;
}
.about_id_2{
    background-image: url(./Images/about2.png);
    background-size: 105%;
    border: 3px solid lightgray;
    background-repeat: no-repeat;
    background-position: center;
}
.about_id_3{
    background-image: url(./Images/about3.png);
    background-size: 105%;
    border: 3px solid lightgray;
    background-repeat: no-repeat;
    background-position: center;
}
.about_id_4{
    background-image: url(./Images/about4.png);
    background-size: 105%;
    border: 3px solid lightgray;
    background-repeat: no-repeat;
    background-position: center;
}
.about_id_5{
    background-color: gold;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid lightgray;
}
/*  */



.our_team{
    height: 40rem;
}

.team_Title{
    height: 20%;
    width: 30%;
    margin: auto;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.team_main_title{
    font-size: 2rem;
    font-weight: 900;
    margin: auto;
    text-align: center;
}

.team_nemain_title{
    text-align: center;
    font-size: large;
    font-weight: 900;
    color: gray;
    margin-bottom: 5rem;
}

.team_elem{
    width: 70%;
    height: 27rem;
    list-style: none;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    display: flex;
}

.team_elem_wrap{
    height: 25rem;
    width: 20rem;
}

.team_img{
    width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 50%;
    border: 2px solid gray;
    background-color: black;
}

.team_elem_title{
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.team-min_title{
    color: gray;
    text-align: center;
    font-size: x-large;
    margin-bottom: 1rem;
}

.team_logos{
    height: 3.5rem;
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: auto;
}

.team_logos_elem{
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
}

/*  */

.logo_twitter{
    background-image: url(./Images/w_twitter.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo_google{
    background-image: url(./Images/w_google.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo_facebook{
    background-image: url(./Images/w_facebook.png);
    background-size: cover;
    background-repeat: no-repeat;

}
.logo_p{
    background-image: url(./Images/w_p.png);
    background-size: cover;
    background-repeat: no-repeat;
}



.logo_twitter:hover{
    background-image: url(./Images/b_twitter.png);
}

.logo_google:hover{
    background-image: url(./Images/g+.png);
}

.logo_facebook:hover{
    background-image: url(./Images/facebook.png);

}
.logo_p:hover{
    background-image: url(./Images/p.png);
}

/*  */

.team_info{
    height: 2rem;
    width: 35%;
    text-align: center;
    margin: auto;
    color: gray;
    margin-top: 9rem;
    margin-bottom: 5rem;
}

/* ######################## */

.partners{
    width: 80%;
    height: 5rem;
    list-style: none;
    justify-content: space-around;
    margin: auto;
    display: flex;
    margin-bottom: 5rem;
}

.partners_logos{
    width: 12rem;
    aspect-ratio: 3/1;
}

.partners_logos1{
    background-image: url(./Images/envato.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


.partners_logos2{
    background-image: url(./Images/WorldPress.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


.partners_logos3{
    background-image: url(./Images/ae_tuts.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.partners_logos4{
    background-image: url(./Images/Microlancer.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* ######################## */

.contact{
    background-color: rgb(34, 34, 34);
    height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    background-image: url(./Images/map.png);
    background-position-x: 60rem;
    background-position-y: top;
    background-repeat: no-repeat;
}

.con_title{
    height: 20%;
    width: 100%;
    text-align: center;
    margin-top: 2%;
}

.con_main_title{
    color: white;
    height: 70%;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 900;
}

.con_nemain_title{
    color: gray;
    font-size: 1.2em;
}

.polya{
    height: 80%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.left_polya{
    color: white;
    margin: 2rem;
    height: max-content;
    position: relative;
}

.left_pole{
    height: 80px;
    width: 480px;
    margin-bottom: 20px;
}

.inputSubject{
    margin-bottom: 0;
}

.input{
    height: 100%;
    width: 95%;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: gray;
    padding-left: 10px;
}

.labelNames2{
    font-size: 1.2em;
    text-transform: uppercase;
    position: absolute;
    color: gray;
    top: 46%;
    left: 5%;
}

.labelNames3{
    font-size: 1.2em;
    text-transform: uppercase;
    position: absolute;
    color: gray;
    top: 82%;
    left: 5%;
}

.right_pole{
    color: white;
    height: 17.5em;
    width: 30rem;
}

.right_message{
    height: 100%;
    width: 100%;
}

.big_message{
    resize: none;
    height: 90%;
    width: 100%;
    border-radius: 15px;
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    color: gray;
    padding: 15px;
}

.button{
    border-radius: 5%;
    height: 13%;
    width: 15%;
    margin: 3%;
    background-color: goldenrod;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 600;
    color: white;
}

/* ######################## */

.basement{
    height: 7rem;
    width: 100%;
    position: relative;
}

.basement_log{ 
    width: 20%;
    list-style: none;
    justify-content: space-around;
    margin: auto;
    display: flex;
    padding-top: 1.5rem;
}

.basement_logo{
    height: 4rem;
    width: 4rem;
}

.basement_logo1{
    background-image: url(./Images/b_twitter.png);
    background-size: 95%;
    background-repeat: no-repeat;
}

.basement_logo2{
    background-image: url(./Images/b_facebook.png);
    background-size: 95%;
    background-repeat: no-repeat;
}

.basement_logo3{
    background-image: url(./Images/b_p.png);
    background-size: 95%;
    background-repeat: no-repeat;
}

.basement_logo4{
    background-image: url(./Images/b_google.png);
    background-size: 95%;
    background-repeat: no-repeat;
}

.basement_logo1:hover{
    background-image: url(./Images/twitter.png);
}

.basement_logo2:hover{
    background-image: url(./Images/facebook.png);
    background-size: 97%;
}

.basement_logo3:hover{
    background-image: url(./Images/p.png);

}
.basement_logo4:hover{
    background-image: url(./Images/g+.png);
}




/* ############################ */
/* ############################ */
/* ############################ */
/* ############################ */
/* ############################ */

