body{
    margin: 0;
}

.home{
    width:100% ;
    height: 500px;
    background-color: gray;
    margin: 0px;
}

.header{
    width: 100%;
    height: 75px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.golden{
    width: 200px;
    color: yellow;
    padding: 40px;
}

.list1{
    display: flex;
    color: white;
    list-style: none;
    
}

.list1 li{
    padding: 10px;
}



.main{
    margin:0;
    margin-top: 50px;
    color: white;
}

.main1{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;   
}


.main2{
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}



.rebut{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    background-color: rgb(245, 220, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}


.serv{
    margin-top: 80px;
    font-family: Arial, Helvetica, sans-serif;


    
}



.serv1{
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-bottom: 0;

}

.serv2{
    font-size: 15px;
    text-align: center;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
}




.serv_tip{
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.serv_tip li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    
}


.serv_tip li{
    text-align: center;
}


.img1{
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 50%;
}


.img2{
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 50%;
}

.img3{
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 50%;
}

.serv_tip li{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.portf{
    width: 100%;
    height: 900px;
    background-color: rgba(216, 213, 213, 0.719);
    margin: 0;
}

.rip{
    display: flex;
    flex-direction: column;
    margin-top: 0;

}

.txt4{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-bottom: 0;
        font-weight: 700;
}

.txt5{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 0;
}

.list_img{
    display: flex;
    justify-content: center;

}

.portf_list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
}




.tip_img1{
    width: 200px;
    height: 200px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    margin: 50px;
    margin-bottom: 0;
}



.tip_img2{
    width: 200px;
    height: 200px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    margin: 50px;
    margin-bottom: 0;
}





.tip_img3{
    width: 200px;
    height: 200px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    margin: 50px;
    margin-bottom: 0;
}




.tip_img4{
    width: 200px;
    height: 200px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    margin: 50px;
    margin-bottom: 0;
}



.tip_img5{
    width: 200px;
    height: 200px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    margin: 50px;
    margin-bottom: 0;
}




.tip_img6{
    width: 200px;
    height: 200px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    margin: 50px;
    margin-bottom: 0;
}


.tip_txt{
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
    justify-content: center;
}


.about{
    width: 85%;
    margin: auto;
    position: relative;
}

.A_title{
    height: 20%;
    width: 30%;
    margin: auto;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.A_title{
    font-size: 4em;
    font-weight: 900;
    margin: auto;
    text-align: center;
}

.APodTitle{
    font-size: large;
    font-weight: 900;
    color: gray;
    margin-bottom: 5rem;
}

.A_Cards{
    width: 80%;
    list-style: none;
    margin: auto;
}

.background_line{
    background-color: lightgray;
    position: absolute;
    left: 49.9%;
    right: 49.89%;
    top: 20%;
    bottom: 10%;
    z-index: -1;
}

.A_left{
    margin-right: 15px;
}

.A_right{
    margin-left: 15px;
}

.P_CardElement{
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-bottom: 5rem;
}

.EmptyElement{
    height: 12rem;
    width: 20rem;
    display: flex;
}

.A_Title_date{
    font-size: large;
    font-weight: 900;
    text-transform: uppercase;
    width: 20rem;
}

.A_Title{
    font-size: large;
    font-weight: 900;
    text-transform: capitalize;
    width: 20rem;
}

.A_CardText{
    font-size: large;
    font-weight: 900;
    color: gray;
    width: 20rem;
}

.A_CardTextLeft{
    text-align: right;
}

.A_CardTextRight{
    text-align: left;
}

.A_img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/*  */
.A_img_id_1{
    background-image: url(./Images/A1.png);
    background-size: 105%;
    border: 3px solid lightgray;
    background-repeat: no-repeat;
    background-position: center;
}
.A_img_id_2{
    background-image: url(./Images/A2.png);
    background-size: 105%;
    border: 3px solid lightgray;
    background-repeat: no-repeat;
    background-position: center;
}
.A_img_id_3{
    background-image: url(./Images/A3.png);
    background-size: 105%;
    border: 3px solid lightgray;
    background-repeat: no-repeat;
    background-position: center;
}
.A_img_id_4{
    background-image: url(./Images/A4.png);
    background-size: 105%;
    border: 3px solid lightgray;
    background-repeat: no-repeat;
    background-position: center;
}
.A_img_id_5{
    background-color: gold;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid lightgray;
}
/*  */

/* ######################## */

.our_team{
    height: 40rem;
}

.O_Title{
    height: 20%;
    width: 30%;
    margin: auto;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.O_MainTitle{
    font-size: 2rem;
    font-weight: 900;
    margin: auto;
    text-align: center;
}

.OPodTitle{
    text-align: center;
    font-size: large;
    font-weight: 900;
    color: gray;
    margin-bottom: 5rem;
}

.O_cards{
    width: 70%;
    height: 27rem;
    list-style: none;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    display: flex;
}

.O_Card_wrapper{
    height: 25rem;
    width: 20rem;
}

.O_img{
    width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 50%;
    border: 2px solid gray;
    background-color: black;
}

.O_CardTitle{
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.O_CardPodTitle{
    color: gray;
    text-align: center;
    font-size: x-large;
    margin-bottom: 1rem;
}

.InfoLogos{
    height: 3.5rem;
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: auto;
}

.InfoLogosElement{
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
}

/*  */

.Logo_X{
    background-image: url(./Images/White_X.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.Logo_G{
    background-image: url(./Images/White_G+.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.Logo_F{
    background-image: url(./Images/White_FB.png);
    background-size: cover;
    background-repeat: no-repeat;

}
.Logo_P{
    background-image: url(./Images/White_P.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/*  */

.Logo_X:hover{
    background-image: url(./Images/X.png);
}

.Logo_G:hover{
    background-image: url(./Images/G+.png);
}

.Logo_F:hover{
    background-image: url(./Images/FB.png);

}
.Logo_P:hover{
    background-image: url(./Images/P.png);
}

/*  */

.OPodInfo{
    height: 2rem;
    width: 35%;
    text-align: center;
    margin: auto;
    color: gray;
    margin-top: 9rem;
    margin-bottom: 5rem;
}

/* ######################## */

.partners{
    width: 80%;
    height: 5rem;
    list-style: none;
    justify-content: space-around;
    margin: auto;
    display: flex;
    margin-bottom: 5rem;
}

.partnersLogos{
    width: 12rem;
    aspect-ratio: 3/1;
}

.partnersLogos1{
    background-image: url(./Images/envato.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


.partnersLogos2{
    background-image: url(./Images/WorldPress.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


.partnersLogos3{
    background-image: url(./Images/ae_tuts.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.partnersLogos4{
    background-image: url(./Images/Microlancer.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* ######################## */

.contact{
    background-color: rgb(34, 34, 34);
    height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    background-image: url(./Images/map.png);
    background-position-x: 60rem;
    background-position-y: top;
    background-repeat: no-repeat;
}

.Co_title{
    height: 20%;
    width: 100%;
    text-align: center;
    margin-top: 2%;
}

.Co_MainTitle{
    color: white;
    height: 70%;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 900;
}

.CoPodTitle{
    color: gray;
    font-size: 1.2em;
}

.forms{
    height: 80%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.left_forms{
    color: white;
    margin: 2rem;
    height: max-content;
    position: relative;
}

.left_form{
    height: 80px;
    width: 480px;
    margin-bottom: 20px;
}

.inputSubject{
    margin-bottom: 0;
}

.input{
    height: 100%;
    width: 95%;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: gray;
    padding-left: 10px;
}

.labelNames2{
    font-size: 1.2em;
    text-transform: uppercase;
    position: absolute;
    color: gray;
    top: 46%;
    left: 5%;
}

.labelNames3{
    font-size: 1.2em;
    text-transform: uppercase;
    position: absolute;
    color: gray;
    top: 82%;
    left: 5%;
}

.right_form{
    color: white;
    height: 17.5em;
    width: 30rem;
}

.rightF{
    height: 100%;
    width: 100%;
}

.textarea{
    resize: none;
    height: 90%;
    width: 100%;
    border-radius: 15px;
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    color: gray;
    padding: 15px;
}

.SendButton{
    border-radius: 5%;
    height: 13%;
    width: 15%;
    margin: 3%;
    background-color: goldenrod;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 600;
    color: white;
}

/* ######################## */

.Footer{
    height: 7rem;
    width: 100%;
    position: relative;
}

.FooterLog{
    width: 20%;
    list-style: none;
    justify-content: space-around;
    margin: auto;
    display: flex;
    padding-top: 1.5rem;
}

.FooterLogo{
    height: 4rem;
    width: 4rem;
}

.FooterLogo1{
    background-image: url(./Images/Black_X.png);
    background-size: 95%;
    background-repeat: no-repeat;
}

.FooterLogo2{
    background-image: url(./Images/Black_FB.png);
    background-size: 95%;
    background-repeat: no-repeat;
}

.FooterLogo3{
    background-image: url(./Images/Black_P.png);
    background-size: 95%;
    background-repeat: no-repeat;
}

.FooterLogo4{
    background-image: url(./Images/Black_G+.png);
    background-size: 95%;
    background-repeat: no-repeat;
}

.FooterLogo1:hover{
    background-image: url(./Images/X.png);
}

.FooterLogo2:hover{
    background-image: url(./Images/FB.png);
    background-size: 97%;
}

.FooterLogo3:hover{
    background-image: url(./Images/P.png);

}
.FooterLogo4:hover{
    background-image: url(./Images/G+.png);
}


.date{
    position: absolute;
    width: max-content;
    bottom: 40%;
    left: 15%;
    color: gray;
    font-weight: 500;
}

/* ############################ */
/* ############################ */
/* ############################ */
/* ############################ */
/* ############################ */

@media (max-width: 800px) {

.wrapper_head{
    width: 100%;
    height: 60vh;
}

.Hhead{
    width: 100%;
    height: 4rem;
}

.Title{
    width: 10vw;
    height: 3rem;
    margin: 3% 3%;
}

.H_servicesElement{
    width: 3vw;
    margin: 1%;
    font-size: 2vw;
    padding: 1rem 0 1rem 0;
}

.H_servicesElement_LS{
    padding-right: 3rem;
}

.welcome{
    font-size: 1.5em;
}

.NiceTooMeetYou{
    font-size: 2.5em;
}

/* ######################## */

.services{
    height: 100vh;
}

.S_Title{
    height: 15vh;
    width: max-content;
    margin: auto;
}

.S_MainTitle{
    font-size: 3em;
}

.SPodTitle{
    font-size: medium;
}

.S_cards{
    width: max-content;
    flex-flow: column wrap;
}

/* ######################## */

.P_title{
    width: max-content;
}

.P_MainTitle{
    font-size: 2.5em;
}

.PPodTitle{
    font-size: medium;
}

.P_Cards{
    width: max-content;
    height: max-content;
}

.P_servicesElement{
    width: max-content;
    margin: 0;
}

.P_CardElement{
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-bottom: 5rem;
}

/* ######################## */

.A_title{
    width: max-content;
    margin: auto;
}


.A_Cards{
    width: 80%;
    list-style: none;
    margin: auto;
}

.background_line{
    left: 100%;
    right: 100%;
    z-index: -1;
}

.A_Card{
    width: max-content;
}

.EmptyElement{
    height: 0;
    width: 0;
}

.A_img{
    border-radius: 0;
}

.A_img:last-child{
    border-radius: 50%;
}

/* ######################## */

.O_Title{
    width: max-content;
}

.O_cards{
    width: max-content;
    height: 17rem;
    margin: auto;
}

.O_Card_wrapper{
    height: max-content;
    width: max-content;
    margin-right: 1rem;
}

.O_img{
    width: 100px;
    height: 100px;
}

.O_CardTitle{
    font-size: 1em;
    width: 99%;
}

.O_CardPodTitle{
    font-size: medium;
    margin: auto;
}

.InfoLogosElement{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.OPodInfo{
    height: max-content;
    width: 80%;
    margin: auto;
}

/* ######################## */

.partners{
    flex-flow: column wrap;
    width: max-content;
    height: max-content;
}

.partnersLogos{
    padding-bottom: 1rem;
}

/* ######################## */

.forms{
    position: relative;
}

.left_forms{
    color: white;
    margin: 2rem;
    height: max-content;
    position: relative;
    width: max-content;
}

.left_form{
    width: max-content;
}

.inputSubject{
    margin-bottom: 0;
}

.input{
    border-radius: 15px;
}

.right_form{
    height: max-content;
    width: max-content;
    position: absolute;
    bottom: 0;
    left: 0;
}

.rightF{
    height: 100%;
    width: 100%;
}

.textarea{
    border-radius: 15px;
}

.SendButton{
    border-radius: 15px;
    height: 15%;
    width: 50%;
}

/* ######################## */

.Footer{
    height: 10rem;
    width: 100%;
    position: relative;
}

.FooterLog{
    width: 50%;
}

.FooterLogo{
    height: 4rem;
    width: 4rem;
}

.date{
    font-weight: 500;
} 
}